{% extends 'main_base.html' %}

{% block content %}
  <h1>Quizzes for {{ course.title }}</h1>

  {% if quizzes %}
    <ul>
      {% for quiz in quizzes %}
        <li>
          <a href="{% url 'quiz_detail' course.id quiz.id %}">{{ quiz.title }}</a>
          <p>{{ quiz.description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No quizzes found for this course. 
      {% if user == course.owner %}
      <a href="{% url 'create_quiz' course.id %}">(Create a new quiz)</a>
      {% endif %}
    </p>
  {% endif %}
    {% if user == course.owner %}
        <p>Admin Menu:</p>
        <ul>
        <li><a href="{% url 'create_quiz' course.id %}">Create Quiz</a></li>
        </ul>
    {% else %}
        <p>Menu: </p>
    {% endif %}
{% endblock %}